#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  background-image: linear-gradient(#ecfeff, #22d3ee);
  height: 100vh;
  font-family: monospace;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pattern {
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='61.49' height='71' viewBox='0 0 69.2820323027551 80' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M86.6 70L69.28 80L51.96 70L51.96 50L69.28 40L86.6 50L86.6 70 86.6 50L69.28 40L51.96 50L51.96 70L69.28 80L86.6 70L86.6 50z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M51.96 90L34.64 100L17.32 90L17.32 70L34.64 60L51.96 70L51.96 90 51.96 70L34.64 60L17.32 70L17.32 90L34.64 100L51.96 90L51.96 70z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M17.32 70L0 80L-17.32 70L-17.32 50L0 40L17.32 50L17.32 70 17.32 50L0 40L-17.32 50L-17.32 70L0 80L17.32 70L17.32 50z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M17.32 30L0 40L-17.32 30L-17.32 10L0 0L17.32 10L17.32 30 17.32 10L0 0L-17.32 10L-17.32 30L0 40L17.32 30L17.32 10z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M51.96 10L34.64 20L17.32 10L17.32-10L34.64-20L51.96-10L51.96 10 51.96-10L34.64-20L17.32-10L17.32 10L34.64 20L51.96 10L51.96-10z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M86.6 30L69.28 40L51.96 30L51.96 10L69.28 0L86.6 10L86.6 30 86.6 10L69.28 0L51.96 10L51.96 30L69.28 40L86.6 30L86.6 10z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3Cpath d='M43.3 45L43.3 55L34.64 50L25.98 55L25.98 45L17.32 40L25.98 35L25.98 25L34.64 30L43.3 25L43.3 35L51.96 40L43.3 45 39.64 31.34L34.64 28.68L29.64 31.34L24.84 34.34L24.64 40L24.84 45.66L29.64 48.66L34.64 51.32L39.64 48.66L44.44 45.66L44.64 40L44.44 34.34L39.64 31.34z' stroke-linejoin='miter' fill='rgba(178, 245, 234,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}
